<ul class="nav nav-tabs " style="background-color: green;"id="myTab" role="tablist">
<div class="row m-3" style="color: white"><div id="header">
  <span class="labelB">Employee</span>
  <br>
  <span class="labelB">Directory</span></div>
</div>
<div class="row p-5">
  <li class="nav-item" role="presentation">
    <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">demo's home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="people-tab" data-bs-toggle="tab" data-bs-target="#people" type="button" role="tab" aria-controls="people" aria-selected="false">people directory</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="jobs-tab" data-bs-toggle="tab" data-bs-target="#jobs" type="button" role="tab" aria-controls="jobs" aria-selected="false">jobs manager</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="statistics-tab" data-bs-toggle="tab" data-bs-target="#statistics" type="button" role="tab" aria-controls="statistics" aria-selected="false">statistics</button>
  </li>
</ul>
<br>
<div class="p-3 row">
<div class="col-3"><div class="card">
  <div class="card-body">
    <h5 class="card-title">Employee</h5>
  
  </div>
</div>
</div> 
<div class="col-3"><div class="card">
  <div class="card-body">
    <h5 class="card-title">Departement</h5>
   
  </div>
</div>
</div> 
<div class="col-3"><div class="card">
  <div class="card-body">
    <h5 class="card-title">Companies</h5>
   
  </div>
</div>
</div> 
</div>
</div>