<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <div id="header">
                <span class="labelB">Employee</span>
                <br>
                <span class="labelB">Directory</span>
 </div>
            <form name="form" ng-submit="View1Ctrl.login()" role="form" class="p-5">
             
            
                <div class="wrap-input100 validate-input " data-validate="Please enter username">
                    <div class="row">  
                <div class="col-2 "> 
                      <label class="labelB">Login</label></div>
                <div class="col-10">  
                    <input class="input100" type="text"  name="username" id="username" ng-model="View1Ctrl.username" required>
                 
                </div>
                    </div>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Please enter password">
                    <div class="row">  
                        <div class="col-2 "> 
                              <label  class="labelB">Password</label>
                            </div>
                        <div class="col-10">  
                            <input class="input100"  type="password" name="password" id="password" ng-model="View1Ctrl.password" required >
                            <div class="ml-7">
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
              <label class="txt1 p-1"> Remember me</label><br>
                        </div>
                            </div>
                </div>

          

                 
                </div>
                <div class="text-right">
                    <button type="submit"class="login100-form-btn">
                       Log in
                    </button>
                </div>

          
            </form>
        </div>
    </div>
</div>